@model IEnumerable<Viagium.Models.TravelPackages>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByEmployeeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByEmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TravelPackagesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TravelPackagesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TravelPackagesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
